In [7]:
import pandas as pd
import numpy as np

In [2]:
harry = pd.read_csv('pandas.csv')

In [3]:
harry

  Unnamed: 0.1  Unnamed: 0  train no  time     city
0            a           0      1234    50   rampur
1            b           1      5678    13    delhi
2            c           2   9101112    17   mumbai
3            d           3  13141516    20  kolkata

In [5]:
harry.to_csv('pandas.csv')

In [10]:
ser = pd.Series(np.random.rand(34))

In [11]:
ser

0     0.813006
1     0.120070
2     0.710766
3     0.595188
4     0.708789
5     0.171762
6     0.777713
7     0.906531
8     0.106060
9     0.067471
10    0.118023
11    0.689588
12    0.264730
13    0.025171
14    0.650619
15    0.676257
16    0.634727
17    0.288566
18    0.191016
19    0.601684
20    0.556541
21    0.686642
22    0.800242
23    0.670381
24    0.616842
25    0.436138
26    0.972917
27    0.380848
28    0.360745
29    0.343473
30    0.034320
31    0.713272
32    0.006374
33    0.430578
dtype: float64

In [15]:
newdf = pd.DataFrame(np.random.rand(334, 5), index = np.arange(334))

In [13]:
newdf

            0         1         2         3         4
0    0.105061  0.518465  0.017114  0.377410  0.739201
1    0.621938  0.226072  0.881699  0.159487  0.070379
2    0.467499  0.142025  0.948869  0.578514  0.778157
3    0.042682  0.936013  0.795832  0.834717  0.902180
4    0.766563  0.622691  0.103535  0.096827  0.277290
..        ...       ...       ...       ...       ...
329  0.878917  0.477024  0.148321  0.391414  0.702982
330  0.130461  0.005036  0.641192  0.958261  0.542099
331  0.427588  0.637272  0.687006  0.419538  0.716688
332  0.361024  0.169228  0.660146  0.810627  0.939941
333  0.226590  0.959714  0.895885  0.339911  0.445097

[334 rows x 5 columns]

In [16]:
newdf

            0         1         2         3         4
0    0.280328  0.776289  0.225821  0.916589  0.068486
1    0.624696  0.124264  0.034187  0.205545  0.978489
2    0.605643  0.325590  0.226043  0.529344  0.489077
3    0.072821  0.794940  0.085991  0.124631  0.907280
4    0.838396  0.795248  0.679387  0.760551  0.649821
..        ...       ...       ...       ...       ...
329  0.993004  0.812118  0.335187  0.975889  0.342037
330  0.860156  0.346735  0.800001  0.376919  0.429962
331  0.734318  0.349842  0.982358  0.377421  0.238691
332  0.730496  0.220593  0.491104  0.944777  0.133771
333  0.361411  0.858819  0.374054  0.599422  0.710379

[334 rows x 5 columns]

In [17]:
type(ser)

pandas.core.series.Series

In [18]:
type(newdf)

pandas.core.frame.DataFrame

In [19]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.473698    0.494480    0.503771    0.487971    0.509147
std      0.274119    0.291254    0.281025    0.295325    0.302737
min      0.003263    0.009138    0.000791    0.000688    0.001829
25%      0.230782    0.232669    0.250398    0.224570    0.229551
50%      0.473869    0.482242    0.504352    0.500851    0.498706
75%      0.694878    0.748745    0.741036    0.730064    0.783451
max      0.994389    0.995444    0.999998    0.998265    0.998030

In [22]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [23]:
newdf[0][0] = "IITB"

C:\Users\Harshita Sinha\AppData\Local\Temp\ipykernel_24200\3376050926.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[0][0] = "IITB"
C:\Users\Harshita Sinha\AppData\Local\Temp\ipykernel_24200\3376050926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'IITB' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[0][0] = "IITB"

In [24]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [25]:
newdf.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
      dtype='int64', length=334)

In [26]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [27]:
newdf.to_numpy()

array([['IITB', 0.7762892443353018, 0.2258212756476914,
        0.9165894819719578, 0.06848568657143228],
       [0.6246963301759705, 0.12426354263674455, 0.034186555607772395,
        0.20554454191949578, 0.9784887057257023],
       [0.605642783947212, 0.32559006792147394, 0.22604331551477064,
        0.5293438831145604, 0.4890770466078108],
       ...,
       [0.734318410133713, 0.34984201585023433, 0.9823582604173069,
        0.3774213049561126, 0.23869088010062478],
       [0.7304958121048901, 0.22059341388512654, 0.49110422385418395,
        0.9447765282184007, 0.13377090328317132],
       [0.36141107612230783, 0.8588187087137662, 0.3740535961645606,
        0.5994219115235407, 0.7103790663128433]],
      shape=(334, 5), dtype=object)

In [28]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,IITB,0.624696,0.605643,0.072821,0.838396,0.832666,0.54547,0.06827,0.371143,0.549291,...,0.614704,0.209871,0.254838,0.551534,0.432945,0.993004,0.860156,0.734318,0.730496,0.361411
1,0.776289,0.124264,0.32559,0.79494,0.795248,0.02238,0.627583,0.397574,0.792148,0.370475,...,0.01969,0.625196,0.032495,0.197359,0.399288,0.812118,0.346735,0.349842,0.220593,0.858819
2,0.225821,0.034187,0.226043,0.085991,0.679387,0.241913,0.585187,0.324601,0.06963,0.563109,...,0.562539,0.945024,0.849479,0.289619,0.057889,0.335187,0.800001,0.982358,0.491104,0.374054
3,0.916589,0.205545,0.529344,0.124631,0.760551,0.814753,0.030449,0.417545,0.609157,0.747138,...,0.446767,0.271663,0.70032,0.777985,0.705109,0.975889,0.376919,0.377421,0.944777,0.599422
4,0.068486,0.978489,0.489077,0.90728,0.649821,0.461397,0.655648,0.875992,0.774191,0.364352,...,0.712934,0.13001,0.832642,0.016086,0.88341,0.342037,0.429962,0.238691,0.133771,0.710379

In [30]:
newdf.head()

          0         1         2         3         4
0      IITB  0.776289  0.225821  0.916589  0.068486
1  0.624696  0.124264  0.034187  0.205545  0.978489
2  0.605643  0.325590  0.226043  0.529344  0.489077
3  0.072821  0.794940  0.085991  0.124631  0.907280
4  0.838396  0.795248  0.679387  0.760551  0.649821

In [31]:
 newdf.sort_index(axis=0, ascending = False)

            0         1         2         3         4
333  0.361411  0.858819  0.374054  0.599422  0.710379
332  0.730496  0.220593  0.491104  0.944777  0.133771
331  0.734318  0.349842  0.982358  0.377421  0.238691
330  0.860156  0.346735  0.800001  0.376919  0.429962
329  0.993004  0.812118  0.335187  0.975889  0.342037
..        ...       ...       ...       ...       ...
4    0.838396  0.795248  0.679387  0.760551  0.649821
3    0.072821  0.794940  0.085991  0.124631  0.907280
2    0.605643  0.325590  0.226043  0.529344  0.489077
1    0.624696  0.124264  0.034187  0.205545  0.978489
0        IITB  0.776289  0.225821  0.916589  0.068486

[334 rows x 5 columns]

In [33]:
newdf.sort_index(axis=1, ascending = False)

            4         3         2         1         0
0    0.068486  0.916589  0.225821  0.776289      IITB
1    0.978489  0.205545  0.034187  0.124264  0.624696
2    0.489077  0.529344  0.226043  0.325590  0.605643
3    0.907280  0.124631  0.085991  0.794940  0.072821
4    0.649821  0.760551  0.679387  0.795248  0.838396
..        ...       ...       ...       ...       ...
329  0.342037  0.975889  0.335187  0.812118  0.993004
330  0.429962  0.376919  0.800001  0.346735  0.860156
331  0.238691  0.377421  0.982358  0.349842  0.734318
332  0.133771  0.944777  0.491104  0.220593  0.730496
333  0.710379  0.599422  0.374054  0.858819  0.361411

[334 rows x 5 columns]

In [34]:
newdf[0]

0          IITB
1      0.624696
2      0.605643
3      0.072821
4      0.838396
         ...
329    0.993004
330    0.860156
331    0.734318
332    0.730496
333    0.361411
Name: 0, Length: 334, dtype: object

In [35]:
type(newdf[0])

pandas.core.series.Series

In [36]:
newdf.head()

          0         1         2         3         4
0      IITB  0.776289  0.225821  0.916589  0.068486
1  0.624696  0.124264  0.034187  0.205545  0.978489
2  0.605643  0.325590  0.226043  0.529344  0.489077
3  0.072821  0.794940  0.085991  0.124631  0.907280
4  0.838396  0.795248  0.679387  0.760551  0.649821

In [37]:
newdf2 = newdf

In [38]:
newdf2[0][0] = 76469

In [39]:
newdf.head()

          0         1         2         3         4
0     76469  0.776289  0.225821  0.916589  0.068486
1  0.624696  0.124264  0.034187  0.205545  0.978489
2  0.605643  0.325590  0.226043  0.529344  0.489077
3  0.072821  0.794940  0.085991  0.124631  0.907280
4  0.838396  0.795248  0.679387  0.760551  0.649821

In [40]:
newdf[0][0] = 89043

In [41]:
newdf2

            0         1         2         3         4
0       89043  0.776289  0.225821  0.916589  0.068486
1    0.624696  0.124264  0.034187  0.205545  0.978489
2    0.605643  0.325590  0.226043  0.529344  0.489077
3    0.072821  0.794940  0.085991  0.124631  0.907280
4    0.838396  0.795248  0.679387  0.760551  0.649821
..        ...       ...       ...       ...       ...
329  0.993004  0.812118  0.335187  0.975889  0.342037
330  0.860156  0.346735  0.800001  0.376919  0.429962
331  0.734318  0.349842  0.982358  0.377421  0.238691
332  0.730496  0.220593  0.491104  0.944777  0.133771
333  0.361411  0.858819  0.374054  0.599422  0.710379

[334 rows x 5 columns]

In [42]:
newdf3 = newdf.copy()

In [43]:
newdf3[0][0] = 3333

C:\Users\Harshita Sinha\AppData\Local\Temp\ipykernel_24200\3221817010.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf3[0][0] = 3333
C:\Users\Harshita Sinha\AppData\Local\Temp\ipykernel_24200\3221817010.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf3[0][0] = 3333

In [44]:
newdf

            0         1         2         3         4
0       89043  0.776289  0.225821  0.916589  0.068486
1    0.624696  0.124264  0.034187  0.205545  0.978489
2    0.605643  0.325590  0.226043  0.529344  0.489077
3    0.072821  0.794940  0.085991  0.124631  0.907280
4    0.838396  0.795248  0.679387  0.760551  0.649821
..        ...       ...       ...       ...       ...
329  0.993004  0.812118  0.335187  0.975889  0.342037
330  0.860156  0.346735  0.800001  0.376919  0.429962
331  0.734318  0.349842  0.982358  0.377421  0.238691
332  0.730496  0.220593  0.491104  0.944777  0.133771
333  0.361411  0.858819  0.374054  0.599422  0.710379

[334 rows x 5 columns]

In [45]:
newdf[0][0] = 777

C:\Users\Harshita Sinha\AppData\Local\Temp\ipykernel_24200\1095998889.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[0][0] = 777
C:\Users\Harshita Sinha\AppData\Local\Temp\ipykernel_24200\1095998889.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf[0][0] = 777

In [46]:
newdf3

            0         1         2         3         4
0        3333  0.776289  0.225821  0.916589  0.068486
1    0.624696  0.124264  0.034187  0.205545  0.978489
2    0.605643  0.325590  0.226043  0.529344  0.489077
3    0.072821  0.794940  0.085991  0.124631  0.907280
4    0.838396  0.795248  0.679387  0.760551  0.649821
..        ...       ...       ...       ...       ...
329  0.993004  0.812118  0.335187  0.975889  0.342037
330  0.860156  0.346735  0.800001  0.376919  0.429962
331  0.734318  0.349842  0.982358  0.377421  0.238691
332  0.730496  0.220593  0.491104  0.944777  0.133771
333  0.361411  0.858819  0.374054  0.599422  0.710379

[334 rows x 5 columns]

In [48]:
newdf.loc[0,0] = 8976

In [49]:
newdf.head()

          0         1         2         3         4
0      8976  0.776289  0.225821  0.916589  0.068486
1  0.624696  0.124264  0.034187  0.205545  0.978489
2  0.605643  0.325590  0.226043  0.529344  0.489077
3  0.072821  0.794940  0.085991  0.124631  0.907280
4  0.838396  0.795248  0.679387  0.760551  0.649821

In [50]:
newdf.drop(0, axis = 1)

            1         2         3         4
0    0.776289  0.225821  0.916589  0.068486
1    0.124264  0.034187  0.205545  0.978489
2    0.325590  0.226043  0.529344  0.489077
3    0.794940  0.085991  0.124631  0.907280
4    0.795248  0.679387  0.760551  0.649821
..        ...       ...       ...       ...
329  0.812118  0.335187  0.975889  0.342037
330  0.346735  0.800001  0.376919  0.429962
331  0.349842  0.982358  0.377421  0.238691
332  0.220593  0.491104  0.944777  0.133771
333  0.858819  0.374054  0.599422  0.710379

[334 rows x 4 columns]

In [51]:
newdf

            0         1         2         3         4
0        8976  0.776289  0.225821  0.916589  0.068486
1    0.624696  0.124264  0.034187  0.205545  0.978489
2    0.605643  0.325590  0.226043  0.529344  0.489077
3    0.072821  0.794940  0.085991  0.124631  0.907280
4    0.838396  0.795248  0.679387  0.760551  0.649821
..        ...       ...       ...       ...       ...
329  0.993004  0.812118  0.335187  0.975889  0.342037
330  0.860156  0.346735  0.800001  0.376919  0.429962
331  0.734318  0.349842  0.982358  0.377421  0.238691
332  0.730496  0.220593  0.491104  0.944777  0.133771
333  0.361411  0.858819  0.374054  0.599422  0.710379

[334 rows x 5 columns]

In [52]:
newdf.loc[[1, 2], [3, 4]]

          3         4
1  0.205545  0.978489
2  0.529344  0.489077

In [54]:
newdf.loc[:, [3, 4]]

            3         4
0    0.916589  0.068486
1    0.205545  0.978489
2    0.529344  0.489077
3    0.124631  0.907280
4    0.760551  0.649821
..        ...       ...
329  0.975889  0.342037
330  0.376919  0.429962
331  0.377421  0.238691
332  0.944777  0.133771
333  0.599422  0.710379

[334 rows x 2 columns]

In [55]:
newdf.loc[[1, 2],:]

          0         1         2         3         4
1  0.624696  0.124264  0.034187  0.205545  0.978489
2  0.605643  0.325590  0.226043  0.529344  0.489077

In [56]:
newdf.loc[(newdf[0]<0.3)]

            0         1         2         3         4
3    0.072821  0.794940  0.085991  0.124631  0.907280
7     0.06827  0.397574  0.324601  0.417545  0.875992
14   0.054373  0.976057  0.307735  0.333047  0.549386
17   0.294417  0.401923  0.602534  0.508509  0.564107
21    0.29553  0.399121  0.847773  0.306448  0.033770
..        ...       ...       ...       ...       ...
314  0.162367  0.710943  0.688005  0.367947  0.953177
319   0.03853  0.064852  0.599897  0.400781  0.421783
320  0.294475  0.980443  0.232665  0.051900  0.687368
325  0.209871  0.625196  0.945024  0.271663  0.130010
326  0.254838  0.032495  0.849479  0.700320  0.832642

[106 rows x 5 columns]

In [57]:
newdf.drop([0, 3])

            0         1         2         3         4
1    0.624696  0.124264  0.034187  0.205545  0.978489
2    0.605643  0.325590  0.226043  0.529344  0.489077
4    0.838396  0.795248  0.679387  0.760551  0.649821
5    0.832666  0.022380  0.241913  0.814753  0.461397
6     0.54547  0.627583  0.585187  0.030449  0.655648
..        ...       ...       ...       ...       ...
329  0.993004  0.812118  0.335187  0.975889  0.342037
330  0.860156  0.346735  0.800001  0.376919  0.429962
331  0.734318  0.349842  0.982358  0.377421  0.238691
332  0.730496  0.220593  0.491104  0.944777  0.133771
333  0.361411  0.858819  0.374054  0.599422  0.710379

[332 rows x 5 columns]

In [58]:
newdf.drop([0, 3], axis = 1)

            1         2         4
0    0.776289  0.225821  0.068486
1    0.124264  0.034187  0.978489
2    0.325590  0.226043  0.489077
3    0.794940  0.085991  0.907280
4    0.795248  0.679387  0.649821
..        ...       ...       ...
329  0.812118  0.335187  0.342037
330  0.346735  0.800001  0.429962
331  0.349842  0.982358  0.238691
332  0.220593  0.491104  0.133771
333  0.858819  0.374054  0.710379

[334 rows x 3 columns]

In [59]:
newdf = newdf.drop([1, 3], axis = 1)

In [60]:
newdf

            0         2         4
0        8976  0.225821  0.068486
1    0.624696  0.034187  0.978489
2    0.605643  0.226043  0.489077
3    0.072821  0.085991  0.907280
4    0.838396  0.679387  0.649821
..        ...       ...       ...
329  0.993004  0.335187  0.342037
330  0.860156  0.800001  0.429962
331  0.734318  0.982358  0.238691
332  0.730496  0.491104  0.133771
333  0.361411  0.374054  0.710379

[334 rows x 3 columns]

In [62]:
newdf.reset_index(drop = True, inplace = True)

In [63]:
newdf

            0         2         4
0        8976  0.225821  0.068486
1    0.624696  0.034187  0.978489
2    0.605643  0.226043  0.489077
3    0.072821  0.085991  0.907280
4    0.838396  0.679387  0.649821
..        ...       ...       ...
329  0.993004  0.335187  0.342037
330  0.860156  0.800001  0.429962
331  0.734318  0.982358  0.238691
332  0.730496  0.491104  0.133771
333  0.361411  0.374054  0.710379

[334 rows x 3 columns]

In [65]:
newdf[2].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
329    False
330    False
331    False
332    False
333    False
Name: 2, Length: 334, dtype: bool

In [66]:
newdf[2] = None

In [67]:
newdf

            0     2         4
0        8976  None  0.068486
1    0.624696  None  0.978489
2    0.605643  None  0.489077
3    0.072821  None  0.907280
4    0.838396  None  0.649821
..        ...   ...       ...
329  0.993004  None  0.342037
330  0.860156  None  0.429962
331  0.734318  None  0.238691
332  0.730496  None  0.133771
333  0.361411  None  0.710379

[334 rows x 3 columns]

In [68]:
newdf[2].isnull()

0      True
1      True
2      True
3      True
4      True
       ...
329    True
330    True
331    True
332    True
333    True
Name: 2, Length: 334, dtype: bool

In [69]:
newdf.loc[:, [2]] = 10

In [70]:
newdf

            0   2         4
0        8976  10  0.068486
1    0.624696  10  0.978489
2    0.605643  10  0.489077
3    0.072821  10  0.907280
4    0.838396  10  0.649821
..        ...  ..       ...
329  0.993004  10  0.342037
330  0.860156  10  0.429962
331  0.734318  10  0.238691
332  0.730496  10  0.133771
333  0.361411  10  0.710379

[334 rows x 3 columns]

In [71]:
harry.info

<bound method DataFrame.info of   Unnamed: 0.1  Unnamed: 0  train no  time     city
0            a           0      1234    50   rampur
1            b           1      5678    13    delhi
2            c           2   9101112    17   mumbai
3            d           3  13141516    20  kolkata>

In [73]:
newdf.info

<bound method DataFrame.info of             0   2         4
0        8976  10  0.068486
1    0.624696  10  0.978489
2    0.605643  10  0.489077
3    0.072821  10  0.907280
4    0.838396  10  0.649821
..        ...  ..       ...
329  0.993004  10  0.342037
330  0.860156  10  0.429962
331  0.734318  10  0.238691
332  0.730496  10  0.133771
333  0.361411  10  0.710379

[334 rows x 3 columns]>

In [77]:
harry['time'].value_counts()

time
50    1
13    1
17    1
20    1
Name: count, dtype: int64

In [78]:
df = pd.DataFrame(np.random.rand(3, 2), index = np.arange(3))

In [79]:
df

          0         1
0  0.982711  0.043160
1  0.220818  0.759722
2  0.871915  0.681988

In [81]:
df.describe

<bound method NDFrame.describe of           0         1
0  0.982711  0.043160
1  0.220818  0.759722
2  0.871915  0.681988>

In [82]:
df.corr

<bound method DataFrame.corr of           0         1
0  0.982711  0.043160
1  0.220818  0.759722
2  0.871915  0.681988>

In [83]:
df.mean

<bound method DataFrame.mean of           0         1
0  0.982711  0.043160
1  0.220818  0.759722
2  0.871915  0.681988>

In [84]:
df.count

<bound method DataFrame.count of           0         1
0  0.982711  0.043160
1  0.220818  0.759722
2  0.871915  0.681988>